{% extends "mascota/base.html" %}

{% load static %}

{% block container %}
	<h2>Las Fotos más votadas</h2>
	<hr>
	<div class="row">
	{% for pet in pets %}
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="photos/{{ pet.photo_pet }}" alt="Mascota" height="250px">
	      <div class="caption">
	        <h4>Nombre de la Mascota: <strong>{{ pet.pet_name }}</strong></h4>
	        <p>Fecha Publicación: <strong>{{ pet.published | date }}</strong></p>
	        <p>Votos: <strong>{{ pet.votes }}</strong></p>
	        <form action="{% url 'home' %}" method="post">
	        	{% csrf_token %}
	        	<input type="hidden" name="id" value="{{ pet.photo_id }}">
	        	<input type="hidden" name="ip" value="">
	        	<p class="text-center"><button class="btn btn-primary" type="submit">Votar <i class="fas fa-start"></i></button></p>
	        </form>
	      </div>
	    </div>
	  </div>
	{% endfor %}
	</div>
{% endblock %}
{% block extra_js %}
	<script src="{% static 'js/ipGetter.js' %}"></script>
{% endblock %}